html {
  font-family: sans-serif;
  background-color: #AAFFFF;
}

body {
  width: 85vw;
  margin: 5vh auto;
  border: 2px solid black;
  padding: 3vh 3vw 3vh 3vw;
  background-color: #FFFFFF;
}

h1 {
  text-align: center;
}

a {
  padding: 2px 3px 2px 3px;
  color: black;
}

a:hover {
  background-color: #AAFFFF;
}
