body {
  font-family: sans-serif;
  padding-top: 2em;
  padding-left: 2vw;
}

.container {
  display: block;
}

#left {
  display: inline-block;
  height: 12em;
  vertical-align: top;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

#right {
  display: inline-block;
  height: 12em;
  vertical-align: top;
}

#camera {
  border: solid 2px;
  border-color: purple;
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}
